<!-- app/header/header.component.html -->
<header class="site-header">
  <div class="logo-container">
    <img src="img/logo.jpg" alt="Logo" class="logo">
  </div>
  <div class="divider"></div>
  <nav class="main-nav">
    <button class="nav-button" (click)="goToLogin()">
      <span>Login/Registro</span>
    </button>

    <button class="nav-button" (click)="goToHome()">
      <span>Home</span>
    </button>

    <button class="nav-button" (click)="goToProfile()">
      <span>Profile</span>
    </button>
  </nav>
</header>
