<footer class="app-footer">
  <div class="footer-content">
    <div class="site-info">
      <h3 class="site-name">Site name</h3>
      <div class="social-icons">
        <a href="#" aria-label="Facebook"><img src="https://cdn.freebiesupply.com/logos/large/2x/facebook-logo-2019.png" alt="Facebook"></a>
        <a href="#" aria-label="LinkedIn"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png" alt="LinkedIn"></a>
        <a href="#" aria-label="YouTube"><img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" alt="YouTube"></a>
        <a href="#" aria-label="Instagram"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram"></a>
      </div>
    </div>
    <div class="footer-links">
      <div class="topic-column">
        <h4 style="color: white">Topic</h4>
        <ul>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
        </ul>
      </div>
      <div class="topic-column">
        <h4 style="color: white">Topic</h4>
        <ul>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
        </ul>
      </div>
      <div class="topic-column">
        <h4 style="color: white">Topic</h4>
        <ul>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
          <li><a style="color: white" href="#">Page</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
