<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="login.component.css">
  <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="loginArea">
    <center>
    <div class="login">
      <div class="logo">
        <img class="loginLogo" src="../img/logo.jpg">
      </div>

      <h1 style="color: white;">Login</h1>

      <form class="form">
        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="email" name="email" placeholder="Email">

        <i class="fa-solid fa-lock"></i>
        <input type="password" id="pass" name="pass" placeholder="Pasword">

        <div class="recordar-container">
          <div class="recordar-input">
            <input type="checkbox">
          </div>
          <div class="recordar-text">
            <p>Remember me</p>
          </div>
        </div>

        <button>Login</button>
      </form>

      <p id="recuperacion"><u>Forgot Password?</u></p>
      <p>Don't have a account? <span id="registro">Register</span></p>
    </div>
    </center>
  </div>
</body>
</html>
