<!-- Login Page Content -->
<div class="loginArea">
  <img class="background-image" src="/img/background.jpg" alt="Fondo">

  <div class="login">
    <div class="logo">
      <img class="loginLogo" src="/img/logo.jpg" alt="Logo">
    </div>

    <h1 style="color: white;">Login</h1>

    <form class="form">
      <i class="fa-regular fa-envelope"></i>
      <input type="email" id="email" name="email" placeholder="Email" #email>

      <i class="fa-solid fa-lock"></i>
      <input type="password" id="pass" name="pass" placeholder="Contraseña" #password>

      <div class="recordar-container">
        <div class="recordar-input">
          <input type="checkbox">
        </div>
        <div class="recordar-text">
          <p>Recordarme</p>
        </div>
      </div>

      <button (click)="login(email.value, password.value)">Acceder</button>
    </form>

    <p id="recuperacion"><u>Ha olvidado su contraseña?</u></p>
    <p>Aun no tiene una cuenta? <span id="registro" (click)="goToRegister()">Crear una cuenta</span></p>
  </div>
</div>

