<div class="movie-card-container">
  <img class="background-image" [src]="reviewItems[0].image">

  <div class="movie-zone"> 
    <img class="movie-image" [src]="reviewItems[0].image">
    <div class="overlay">

      <div class="trailer-button">
        <div class="play-icon"></div>
        <span>Ver trailer</span>
        <span class="trailer-time">{{ reviewItems[0].trailerTime }}</span>
      </div>

      <h1 class="movie-title">{{ reviewItems[0].title }}</h1>
      <p class="movie-description">{{ reviewItems[0].description }}</p>


    </div>
  </div>

  <div class="movie-review">
    <div class="star-rating">
      <ng-container *ngFor="let star of stars">
        <span class="star" [class.filled]="star <= reviewItems[0].rating">&#9733;</span>
      </ng-container>
      <span>{{ reviewItems[0].rating }}/5</span>
    </div>
    <p class="review-text">{{ reviewItems[0].comment }}</p>
  </div>
</div>
