<!-- Header -->
<app-header></app-header>

<!-- Profile Page Content -->
<br>
<br>
<br>
<div class="profile">
  <img [src]="user.img" alt="Profile" class="profile-img">
  <div>
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
  </div>
</div>

<br>
<br>

<div class="reviews-movies">
  <br>
  <br>
  <h3 style="color: white">Mis Películas</h3>
  <div class="carousel">
    <button (click)="prevMovie()" class="nav-button">&lt;</button>
    <div class="items" *ngFor="let movie of visibleMovies">
      <img [src]="movie.image" [alt]="movie.title" class="review-img" (click)="goToReview()">
    </div>
    <button (click)="nextMovie()" class="nav-button">&gt;</button>
  </div>
  <button class="view-allPelis" (click)="goToLista()">Ver todas</button>
  <br>
  <br>
</div>

<br>
<br>

<div class="reviews-series">
  <h3>Mis Series</h3>
  <div class="carousel">
    <button (click)="prevSerie()" class="nav-button">&lt;</button>
    <div class="items" *ngFor="let serie of visibleSeries">
      <img [src]="serie.image" [alt]="serie.title" class="review-img" (click)="goToReview()">
    </div>
    <button (click)="nextSerie()" class="nav-button">&gt;</button>
  </div>
  <button class="view-allSerires" (click)="goToLista()">Ver todas</button>
</div>
<br>
<br>

<!-- Footer -->
<app-footer></app-footer>
