 <!-- Home Page Content -->
 <div class="home-container">
   <!-- Novedades del Año Section -->
   <section class="news-section">

     <div class="carousel">
       <div class="carousel-item">
         <img [src]="newsItems[currentNewsIndex].image" />
         <h1>{{ newsItems[currentNewsIndex].title }}</h1>
         <p>{{ newsItems[currentNewsIndex].description }}</p>
         <button (click)="goToReview()">Entrar</button>
       </div>
     </div>

     <div class="carousel-controls">
       <button (click)="prevNews()">⟵ Anterior</button>
       <button (click)="nextNews()">Siguiente ⟶</button>
     </div>
   </section>
   <br>
   <br>

   <!-- Reviews Recientes Section -->
   <section class="reviews-section">
     <h2>Reviews Recientes</h2>
     <div class="reviews-grid">
       <div class="review-card" *ngFor="let review of reviews">
         <img [src]="review.image" [alt]="review.title" />
         <h3>{{ review.title }}</h3>
         <details><summary>{{review.Valuation}}</summary><p>{{ review.description }}</p></details>
       </div>
     </div>
   </section>
   <br>
   <br>

   <!-- Lista Top Películas Section -->
   <section class="top-movies-section">
     <h2>Top Películas</h2>
     <div class="top-movies-content">
       <div class="text-content">
         <div class="movie-item">
           <div class="title-button">
             <h3>1st- {{ topPeliculas[0].title }}</h3>
             <button (click)="goToReview()">Ver</button>
           </div>
           <p>{{ topPeliculas[0].description }}</p>
         </div>

         <div class="movie-item">
           <div class="title-button">
             <h3>2nd- {{ topPeliculas[1].title }}</h3>
             <button (click)="goToReview()">Ver</button>
           </div>
           <p>{{ topPeliculas[1].description }}</p>
         </div>

         <div class="movie-item">
           <div class="title-button">
             <h3>3rd- {{ topPeliculas[2].title }}</h3>
             <button (click)="goToReview()">Ver</button>
           </div>
           <p>{{ topPeliculas[2].description }}</p>
         </div>

         <div class="button-wrapper">
           <button class="secondary-button">Ver Lista Completa</button>
         </div>
       </div>

       <div class="image-content">
         <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/09/star-trek-oscuridad.jpg?tf=3840x" alt="Top Movies" />
       </div>
     </div>
   </section>
   <br>
   <br>

   <!-- Lista Top Series Section -->
   <section class="top-series-section">
     <h2>Top Series</h2>
     <div class="top-series-content">
       <div class="text-content">
         <div class="series-item">
           <div class="title-button">
             <h3>1st- {{ topSeries[0].title }}</h3>
             <button (click)="goToReview()">Ver</button>
           </div>
           <p>{{ topSeries[0].description }}</p>
         </div>

         <div class="series-item">
           <div class="title-button">
             <h3>2nd- {{ topSeries[1].title }}</h3>
             <button (click)="goToReview()">Ver</button>
           </div>
           <p>{{ topSeries[1].description }}</p>
         </div>

         <div class="series-item">
           <div class="title-button">
             <h3>3rd- {{ topSeries[2].title }}</h3>
             <button (click)="goToReview()">Ver</button>
           </div>
           <p>{{ topSeries[2].description }}</p>
         </div>

         <div class="button-wrapper">
           <button class="secondary-button">Ver Lista Completa</button>
         </div>
       </div>

       <div class="image-content">
         <img src="https://andro4all.com/hero/2023/10/1299427.png?width=1200" alt="Top Series" />
       </div>
     </div>
   </section>
 </div>
