.RegistrationArea{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* opcional: altura completa de la ventana */
  text-align: center;
}


body {
  margin: 0; /* Quita los márgenes */
  height: 100vh; /* Asegura que el cuerpo ocupe toda la ventana */
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(8px);
}

.RegistrationArea{
  display: flex; /* Habilita Flexbox para centrar contenido interno */
  justify-content: center; /* Centra horizontalmente el contenido interno */
  align-items: center; /* Centra verticalmente el contenido interno */
  padding: 200px;
}

.logo{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: white solid 5px;
  display: flex; /* Habilita el uso de Flexbox */
  justify-content: center; /* Centra horizontalmente el contenido del logo */
  align-items: center; /* Centra verticalmente el contenido del logo */
  margin: 0 auto; /* Centra el logo horizontalmente en su contenedor */
  background-color: white;
  position: relative;
  bottom: 55px;
}

.RegistrationLogo{
  height: 85px;
  width: 85px;
  border-radius: 20px;
}


.Registration{
  border: solid white 1px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8); /* Color negro con 50% de transparencia */
  height: 800px;
  width: 800px;
}

h1{
  font-size: 60px;
  margin-top: 0px;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;/*
  gap: 10px;
  width: 250px;*/
}



input {
  width: 300px; /* Ancho del input */
  height: 40px; /* Altura del input */
  padding: 5px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  border: none; /* Elimina todos los bordes */
  border-bottom: 2px solid white; /* Agrega solo el borde inferior */
  background-color: transparent; /* Fondo transparente */
  color: white; /* Color del texto */
  outline: none; /* Elimina el borde azul al hacer clic */
  margin-top: 10px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Color del texto del placeholder con opacidad */
}


button {
  width: 150px; /* Ancho del input */
  height: 60px; /* Altura del input */
  font-size: 20px; /* Tamaño de la fuente para el texto dentro del input */
  border-radius: 19px;
  margin-top: 1px;
  margin-bottom: 50px;
}

p{
  font-size: 20px;
  color: white;
}


.aceptar.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.aceptar-label {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre checkbox y texto */
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.aceptar-label input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: white; /* Para asegurar color del check en navegadores compatibles */
}


span{
  font-weight: bold;
}



i{
  color: white;
}

