<!-- Registration Page Content -->
<div class="RegistrationArea">
    <div class="Registration">
      <div class="logo">
        <img class="RegistrationLogo" src="../img/logo.jpg">
      </div>

      <h1 style="color: white;">Registration</h1>

      <form class="form">
        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="id" name="id" placeholder="User ID">

        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="email" name="email" placeholder="Email">

        <i class="fa-solid fa-lock"></i>
        <input type="password" id="pass" name="pass" placeholder="Pasword">

        <i class="fa-solid fa-lock"></i>
        <input type="password" id="confirm" name="confirm" placeholder="Confirm Password">

        <div class="aceptar container">
          <div class="aceptar entrada">
            <input type="checkbox">
          </div>
          <div class="aceptar text">
            <p class="terms"><u>I agree to the terms & conditions</u></p>
          </div>
        </div>

        <button>Registration</button>
      </form>

      <p>Already have an account? <span id="login">Login</span></p>
    </div>
</div>

