
body {
  margin: 0; /* Quita los márgenes */
  height: 100vh; /* Asegura que el cuerpo ocupe toda la ventana */
}

body ::before {
  content: ""; /* Genera un pseudo-elemento vacío */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/pexels-tima-miroshnichenko-7991318.jpg'); /* Establece la imagen como fondo */
  background-size: cover; /* Cubre toda el área disponible */
  background-position: center; /* Centra la imagen */
  filter: blur(8px); /* Desenfoque de 8 píxeles */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}

.RegistrationArea{
  display: flex; /* Habilita Flexbox para centrar contenido interno */
  justify-content: center; /* Centra horizontalmente el contenido interno */
  align-items: center; /* Centra verticalmente el contenido interno */
  padding: 200px;
}

.logo{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: white solid 5px;
  display: flex; /* Habilita el uso de Flexbox */
  justify-content: center; /* Centra horizontalmente el contenido del logo */
  align-items: center; /* Centra verticalmente el contenido del logo */
  margin: 0 auto; /* Centra el logo horizontalmente en su contenedor */
  background-color: white;
  position: relative;
  bottom: 55px;
}

.RegistrationLogo{
  height: 85px;
  width: 85px;
  border-radius: 20px;



}


.Registration{
  border: solid white 1px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8); /* Color negro con 50% de transparencia */
  height: 800px;
  width: 800px;

}

h1{
  font-size: 60px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}



input {
  width: 300px; /* Ancho del input */
  height: 40px; /* Altura del input */
  padding: 5px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  border: none; /* Elimina todos los bordes */
  border-bottom: 2px solid white; /* Agrega solo el borde inferior */
  background-color: transparent; /* Fondo transparente */
  color: white; /* Color del texto */
  outline: none; /* Elimina el borde azul al hacer clic */
  margin-top: 10px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Color del texto del placeholder con opacidad */
}


button {
  width: 150px; /* Ancho del input */
  height: 60px; /* Altura del input */
  font-size: 20px; /* Tamaño de la fuente para el texto dentro del input */
  border-radius: 19px;
  margin-top: 1px;
  margin-bottom: 50px;
}

p{
  font-size: 20px;
  color: white;
}

.aceptar-container{
  display: flex;
  width: 570px;
}

span{
  font-weight: bold;
}

.aceptar-input {
  position: relative;
  left: 60px;
}

.aceptar-text{
  position: relative;
  left: 30px;
  bottom: 53px;
}

i{
  color: white;
}

